.data-table-container{
    overflow-x: auto;
    /* height: calc(100vh - 244px - 72px - 36px ); */
    overflow-y: auto;
    max-height: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
}

.data-table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    thead{
        border-bottom: 1px solid var(--gray-light);
        position: sticky;
        background-color: var(--table-header-color);
        top: 0;
    }
    
    th>span{
        display: flex;
        align-items: center;
        gap: 4px;

        ion-icon{
            font-size: 1.2rem;
            
        }
    }

    td,th{
        width: max-content;
        text-wrap: balance;
        padding: 12px  8px;
        text-transform: capitalize;
    }

    tbody.loaded-data{
        
        min-width: 100%;
        width: 100%;

        tr:hover{
            background: var(--main-color) !important;
            color: #fff;
            word-break: keep-all;
            cursor: pointer;
        }
        tr.no-data{
            color: var(--gray-dark) ;
        }
        tr.no-data:hover{
            background: transparent !important;
            cursor: default;
        }
        tr:not(:last-child){
            border-bottom: 1px solid var(--gray-light);
        }
        td{
            width: max-content;
            text-wrap: balance;
        }

        /* tr:nth-child(even){
            background: var(--background-color);
        } */
        
        
    }

    tbody.animate-pulse{
        td{
            span{
                display: inline-block;
                background: var(--gray-light);
                height: 1rem;
                width: 100%;
                border-radius: 0.25rem;
                animation: pulse 1.5s infinite;
            }
        }
    }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@media screen and (max-width: 768px) {
    .data-table{
        th,td{
            
            font-size: 0.875rem;
        }
    }
    
}